<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base:: head">
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>
<body>
<section>
    <div class="container-fluid mt-5 p-5">

        <div class="card card-sh">
            <div class="card-header text-center">
                <p class="fs-4">View Products</p>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Sl No</th>
                        <th scope="col">Image</th>
                        <th scope="col">Title</th>
                        <th scope="col">Category</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p,c:${products}">
                        <th scope="row">[[${p.id}]]</th>
                        <td><img th:src="@{'/images/'+${p.image}}"
                                 width="70px" height="70px"></td>
                        <td>[[${p.title}]]</td>
                        <td>[[${p.category}]]</td>
                        <td>[[${p.description}]]</td>
                        <td>[[${p.price}]]</td>

                        <td><a th:href="@{'/admin/editProduct/'+${p.id}}"
                               class="btn btn-sm btn-primary"><i
                                class="fa-solid fa-pen-to-square"></i>Edit</a> <a
                                th:href="@{'/admin/deleteProduct/'+${p.id}}"
                                class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i>
                            Delete</a></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>
</body>
</html>